.whatsapp {
  position: absolute;
}
.whatsapp .btn {
  position: fixed;
  left: 10px;
  bottom: 10px;
  background-color: #25d366;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatsapp .btn img {
  width: 25px;
  height: 25px;
}
