.whatsapp {
  position: absolute;
}
.whatsapp .btn-w {
  position: fixed;
  left: 10px;
  bottom: 10px;
  
}
.whatsapp .btn-w a {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.whatsapp .btn-w img {
  width: 40px;
  height: 40px;
}
