<article class="text-center">

  {{ with .Params.images }}
  <div class="mb-5 text-center" data-aos="fade">
    <div class="post-slider rounded-lg overflow-hidden">
      {{ range . }}
      <img loading="lazy" class="w-100 rounded-sm border-sm" src="{{ . }}" alt="post-thumb">
      {{ end }}
    </div>
  </div>
  {{ end }}
  <div class="mt-4 px-0 px-lg-4">
    <p class="mb-3">{{.PublishDate.Format "02 Jan, 2006"}}</p>
    <h2 class="h4 mb-4"><a href="{{.Permalink}}">{{.Title}}</a></h2>

    <a href="{{.Permalink}}" class="text-primary fw-bold" aria-label="Read the full article by clicking here">{{ i18n
      `read_more` }}</a>
  </div>
</article>