<!-- navigation -->
<header class="navigation">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-xl navbar-light">
      <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
        {{ if site.Params.logo }}
        {{$img:= resources.Get (site.Params.logo) }}
        <img loading="lazy" decoding="async" src="{{$img.RelPermalink}}" alt="{{ site.Params.logo_text }}"
          width="{{site.Params.logo_width}}" height="27">
        {{ else }}
        {{site.Params.logo_text | markdownify}}
        {{ end }}
      </a>
      <button aria-label="navbar toggler" class="navbar-toggler border-0 p-0 h3" type="button" data-bs-toggle="collapse"
        data-bs-target="#navigation">
        <i class="fas fa-bars mb-0 text-dark"></i>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav mx-auto">

          <li class="nav-item {{if .IsHome}}active{{end}}">
            <a class="nav-link" href="{{ site.BaseURL | relLangURL }}">Home</a>
          </li>

          <!-- ... (subject) ... -->
          {{ $subjects := .Site.GetPage "section" "subjects" }}
          {{ with $subjects }}
          <li class="nav-item dropdown position-static" >
            <a class="nav-link dropdown-toggle d-inline-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: relative;">
              <span>{{ .Title }}</span>
              <span class="ms-1 d-none d-xl-inline"> <!-- Display on larger screens, adjust as needed -->
                  <i class="fas fa-chevron-down"></i> <!-- Use the appropriate arrow icon class -->
              </span>
          </a>
          
            <div class="dropdown-menu w-100 mt-0" aria-labelledby="navbarDropdown"
              style="border-top-left-radius: 0; border-top-right-radius: 0; max-height: 400px; overflow-y: auto;">
              <div class="container">
                <div class="row my-2 my-md-2"> <!-- Adjust the number of columns as needed -->
                  {{ range .Pages }}
                  <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
                    <div class="list-group list-group-flush">
                      <a href="{{ .Permalink }}" class="dropdown-item list-group-item list-group-item-action" style="max-width: 100%; white-space: normal; word-wrap: break-word;">{{ .Params.subject }}</a>
                    </div>
                  </div>
                  {{ end }}
                </div>
              </div>
            </div>
          </li>
          {{ end }}
          <!-- ... (subject) ... -->

          {{ $currentPage := . }}
          {{ range site.Menus.main }}

          {{ $menu_item_url := .URL | absLangURL }}
          {{ $page_url:= $currentPage.Permalink | absLangURL }}
          {{ $active := eq $menu_item_url $page_url}}

          {{ if .HasChildren }}
          <li class="nav-item dropdown">

            {{ range .Children }}
            {{ $drop_menu_item_url := .URL | absLangURL }}
            {{ $active := eq $drop_menu_item_url $page_url}}
            {{ end }}

            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" >
              {{ .Name }}
            </a>

            <div class="dropdown-menu">
              {{ range .Children }}

              {{ $drop_menu_item_url := .URL | absLangURL }}
              {{ $active := eq $drop_menu_item_url $page_url}}

              <a class="dropdown-item {{if $active}}active{{end}}" {{if findRE `^http` .URL}}target="_blank"
                rel="noopener" {{end}}
                href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | absLangURL}}{{end}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}" style="white-space: normal; word-wrap: break-word;">{{
                .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item {{if $active}}active{{end}}">
            <a class="nav-link" {{if findRE `^http` .URL}}target="_blank" rel="noopener" {{end}}
              href="{{if findRE `^#` .URL}}{{site.BaseURL | absLangURL}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}">{{
              .Name }}</a>
          </li>
          {{ end }}
          {{ end }}
          
        </ul>

        {{ if site.Params.navigation_button.enable }}
        <!-- get start btn -->
        <div class="d-block d-xl-inline-block mt-2 mt-lg-0">
          <a href="{{ site.Params.navigation_button.link | relLangURL }}" target="_blank" class="btn btn-primary ms-xl-4">{{
            site.Params.navigation_button.label }}</a>
        </div>
        {{ end }}
      </div>
    </nav>
  </div>
</header>
<!-- /navigation -->